.App {
  text-align: center;
  direction: rtl;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: green;
  fill:green;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 10rem;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hyperLink {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}


  
.hyperLink:hover {
  color: greenyellow;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}



.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

.region {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 1.25rem;
}
.Btn-region.active {
  background-color: #B3DD4F !important;
}
.Btn-region {
  background-color: darkgray !important;

}
.basic-grid {
  display: grid;
  gap: 1rem;

  /* 1 too skinny, too much code */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */

  /* 2 cleaner code */
  /* grid-template-columns: repeat(12, 1fr); */

  /* 3  better sizing, but overflows */
  /* grid-template-columns: repeat(12, minmax(240px, 1fr)); */

  /* 4 final */
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* h1, .h1 {
  font-size: 3rem;
} */

h2, .h2 {
  font-size: 1.25rem;
}

.bg-teva-green {
  background-color: #004B3F;
}

.bg-teva-lime {
  background-color: #B3DD4F;
}

.bg-teva-sand {
  background-color: #FEF9E7;
}

.DayPicker-Day--selectedDay {
  background-color: #004B3F;
  color: white;
}

.DayPicker-Day:hover,
.DayPicker-Day--selectedDay:hover,
.DayPicker-Day--selected:hover {
  color: #004B3F;
}

.rtl .DayPicker-Caption {
  text-align: right;
}

.rtl .DayPicker-NavButton {
  left: 1.5em;
  right: auto;
  transform: rotate(180deg);
}

.rtl .DayPicker-NavButton--prev {
  margin-left: 1.5em;
  margin-right: auto;
}

.navbar-light a.nav-link {
  color: #004B3F;
}

a.nav-link.active {
  font-weight: bold;
}

.rtl .btn-group > .btn:not(:first-child), 
.rtl .btn-group > .btn-group:not(:first-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.rtl .btn-group > .btn:not(:last-child):not(.dropdown-toggle), 
.rtl .btn-group > .btn-group:not(:last-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}